USE [master]
GO
/****** Object:  Database [band_tracker]    Script Date: 6/19/17 6:52:38 PM ******/
CREATE DATABASE [band_tracker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'band_tracker', FILENAME = N'C:\Users\alyssamoody\band_tracker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'band_tracker_log', FILENAME = N'C:\Users\alyssamoody\band_tracker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [band_tracker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [band_tracker]
GO
USE [band_tracker]
GO
/****** Object:  Table [dbo].[bands]    Script Date: 6/19/17 6:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[band_name] [varchar](100) NULL,
	[members] [varchar](255) NULL,
	[genre] [varchar](50) NULL,
	[information] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bands_venues_shows]    Script Date: 6/19/17 6:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bands_venues_shows](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bands_id] [int] NULL,
	[venues_id] [int] NULL,
	[shows_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shows]    Script Date: 6/19/17 6:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shows](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[city_state] [varchar](100) NULL,
	[date] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[venues]    Script Date: 6/19/17 6:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venues](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[venue_name] [varchar](100) NULL,
	[location] [varchar](100) NULL,
	[details] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bands] ON 

INSERT [dbo].[bands] ([id], [band_name], [members], [genre], [information]) VALUES (1, N'Bon Iver', N'Justin Vernon', N'Indie Folk', N'Bon Iver is an American indie folk band founded in 2007 by singer-songwriter Justin Vernon. Vernon released Bon Iver''s debut album, For Emma, Forever Ago, independently in July 2007. The majority of that album was recorded while Vernon spent three months isolated in a cabin in northwestern Wisconsin.')
INSERT [dbo].[bands] ([id], [band_name], [members], [genre], [information]) VALUES (2, N'Band of Horses', N'Ben Bridwell, Creighton Barrett, Ryan Monroe', N'Indie Rock', N'Band of Horses is an American rock band formed in 2004 in Seattle by Ben Bridwell. The band has released five studio albums, the most successful of which is 2010''s Grammy-nominated Infinite Arms. Band of Horses'' fifth studio album, Why Are You OK, was released in June 2016.')
INSERT [dbo].[bands] ([id], [band_name], [members], [genre], [information]) VALUES (3, N'Eric Church', N'Kenneth Eric Church', N'Country', N'Kenneth Eric Church is an American country music singer and songwriter. Signed to Capitol Nashville since 2005, he has since released a total of five studio albums for that label. His debut album, 2006''s Sinners Like Me," produced three singles on the Billboard country charts including the top 20 hits "How ''Bout You," "Two Pink Lines," and "Guys Like Me".')
SET IDENTITY_INSERT [dbo].[bands] OFF
SET IDENTITY_INSERT [dbo].[bands_venues_shows] ON 

INSERT [dbo].[bands_venues_shows] ([id], [bands_id], [venues_id], [shows_id]) VALUES (1, 2, 4, NULL)
SET IDENTITY_INSERT [dbo].[bands_venues_shows] OFF
SET IDENTITY_INSERT [dbo].[venues] ON 

INSERT [dbo].[venues] ([id], [venue_name], [location], [details]) VALUES (1, N'Crystal Ballroom', N'1332 W. Burnside, Portland, OR 97209', N'The historic Crystal Ballroom -- now over a century old -- is one of those rare concert halls that can point to a proud, diverse history while also laying claim to an ongoing musical legacy. Every time you enter this majestic ballroom, let your imagination sense the tremors resonating from a century''s worth of gatherings, and realize that you are joining a thriving, generations-long procession of show-goers. Welcome!')
SET IDENTITY_INSERT [dbo].[venues] OFF
USE [master]
GO
